
    <!-- Bootstrap Core CSS -->
    <link href="views/aboutus/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="views/aboutus/css/1-col-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="views/coverpage/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="views/coverpage/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="views/coverpage/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="views/coverpage/css/creative.css" type="text/css">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand page-scroll" href="http://www.suning.com/">{{cover.organization}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
                    <li >
                        <a href="#/eGiftCard">Home</a>
                     <li>
                        <a href="#/deals">Today's Deal</a>
                    </li> 
                    </ul>
          
          <form id="demo" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="username" ng-model="user.username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" ng-model="user.password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" ng-click="update(user)">Sign in</button>
            
             <a class="btn btn-success" href="#/signup" >Sign up</a>              

             
             <img onclick="location.href='#/dashboard';" width =60 height= 40 src="views/images/empty-cart-dark.png" alt="" >
             

          </form>
           
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Team
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="views/images/aboutus/gao-jerry.jpg" width =40% height= 20% alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Professor Dr. Jerry Gao</h3>
                <h4>Advisor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="https://www.linkedin.com/pub/jerry-gao/5/627/572">Linkedin Profile</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="views/images/aboutus/sai.jpg" width =40% height= 20%  alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Sai Deepak </h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="views/images/aboutus/raghav.jpg" width =40% height= 20% alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Raghav Gangal</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/raghavgangal">Linkedin Profile </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="views/images/aboutus/swati.jpg" width =40% height= 20% alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Swati Bais</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/swatibais">Linkedin Profile </a>
            </div>
        </div>
        
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="views/images/aboutus/vijay.jpg" width =40% height= 20% alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Vijay Raj Thota</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
               <a class="btn btn-primary" href="https://www.linkedin.com/in/vijayrajthota">Linkedin Profile </a>
            </div>
        </div>
        <!-- /.row -->

       

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
