<link rel="stylesheet" href="views/coverpage/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="views/coverpage/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="views/coverpage/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="views/coverpage/css/creative.css" type="text/css">
<link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
  <style>
#section2{
    width:40%;
    float:right;
    padding:10px;        
}
#section1 {
    width:60%;
    float:left;
    padding:10px;    
}

</style>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand page-scroll" href="http://www.suning.com/">{{cover.organization}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
                    <li >
                        <a href="#/deals">Today's Deal</a>
                     <li>
                        <a href="#/aboutus">About Us</a>
                    </li> 
                    </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<div id="section2">
<div class="jumbotron">
    <div class="container">
   

      <div class="" id="loginModal">
        
        <div class="modal-body">
        <h3>Have an Account?</h3>
          <div class="well">
      
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane active in" id="login">
              <form class="form-horizontal" action='' method="POST">
              <fieldset>
                <div id="legend">
                <legend class="">Sign In</legend>
                </div>    
                <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                  <div class="controls">
                  <input type="text" id="username" ng-model="user.email" name="username" placeholder="" class="input-xlarge">
                  </div>
                </div>
              
                  <div class="control-group">
                <!-- Password-->
                  <label class="control-label" for="password">Password</label>
                    <div class="controls">
                    <input type="password" id="password" ng-model="user.password" name="password" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                 
              
                  <div class="control-group">
                <!-- Button -->
                    <div class="controls">
                  <button class="btn btn-success" ng-click="update(user)">Signin</button>
                    </div>
                  </div>
              </fieldset>
              </form>                
              </div>
        
             </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section1">
  <div class="jumbotron">
    <div class="container">
   

      <div class="" id="loginModal">
        
        <div class="modal-body">
          <div class="well">
      
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane active in" id="login">
              <form class="form-horizontal" action='' method="POST">
              <fieldset>
                <div id="legend">
                <legend class="">Create An Account</legend>
                </div>    
                <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                  <div class="controls">
                  <input type="text" id="username" ng-model="user.username" name="username" placeholder="" class="input-xlarge">
                  </div>
                </div>
              
                  <div class="control-group">
                <!-- Password-->
                  <label class="control-label" for="password">Password</label>
                    <div class="controls">
                    <input type="password" id="password" ng-model="user.password" name="password" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                  <div class="control-group">
                <!--FirstName-->
                <label class="control-label" for="firstname">FirstName</label>
                    <div class="controls">
                  <input type="firstnam" id="firstname" ng-model="user.firstname" name="firstname" placeholder="" class="input-xlarge">
                    </div>
                  </div>  
                  <div class="control-group">
                <!-- Last NAME-->
                <label class="control-label" for="lastname">LastName</label>
                    <div class="controls">
                  <input type="lastname" id="lastname" ng-model="user.lastname" name="lastname" placeholder="" class="input-xlarge">
                    </div>
                  </div> 
                  <div class="control-group">
                <!-- Email-->
                <label class="control-label" for="email">Email</label>
                    <div class="controls">
                  <input type="email" id="email" ng-model="user.email"name="email" placeholder="" class="input-xlarge">
                    </div>
                  </div>
              
                  <div class="control-group">
                <!-- Button -->
                    <div class="controls">
                  <button class="btn btn-success" ng-click="register(user)">SignUP</button>
                    </div>
                  </div>
              </fieldset>
              </form>                
              </div>
        
             </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>